h1{
    color:turquoise;
    text-align: center;
}
.teal{
    color: teal;
}
.column{
    height: 300px;
    width: 31%;
    display: inline-block;
    text-align: center;
    border: 2px solid teal;
}
main{
    display: flex;
}
.photo{
    height: 85px;
    width: 85px;
}
.sparkler{
    height: 100px;
    width: 100px;
}